*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}
.container{
    width:100%;
    height: 100%;
    background-image:url(Victoria-Memorial-Kolkata-Wallpaper-for-Wall.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    width:100%;
    height:12vh;
    background-color: black;
    color: antiquewhite;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    
}
nav .logo{
font-size: 18px;
text-align: center;
text-shadow: 3px 4px 2px black;
width: 25%;
}
nav .menu {
    width:40%;
    display: flex;
    justify-content: space-around;
}

nav .menu a{
    text-decoration: none;
    color: aqua;
    font-weight:bold ;
    margin-bottom:4px ;
    position: relative;
    display: flex;
    justify-content:relative;
}
nav .menu a:hover{
    font-size:30px ;
    color: chartreuse;
    transition:all 0.2s linear ;
}
nav .menu a::before{
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: blue;
    transition: all 0.3s linear;

}
nav .menu a:hover::before{
    width: 100%;

}
nav .menu a:first-child{
    color:#00fc13;
}
main{
    width:100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:darkblue;
}

section h3{
    font-size: 50px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px #000;
}
section h1{
    margin:14px 0px 18px 0;
    font-size:45px;
    font-weight: 500;
    text-transform: uppercase;
    text-shadow:1px 1px 2px #000;
} 
section p{
    font-size:30px;
    text-shadow:1px 1px 1px #000;
    margin-bottom: 45px;
}
section p:hover{
    color: aqua;
    transition: all 0.5s linear;
}
section a{
    padding: 9px 30px;
    border-radius: 5px;
    outline:none;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-right: 14px;
}
section .btn1{
    background-color: #fff;
    color: #000;
}
section .btn1:hover{
    background-color: #000;
    color:#fff;
    transition: all 0.5s linear;
}
section .btn2{
    background-color:#00fc13 ;
    color:#000;
}
section .btn2:hover{
    background-color: #b200fc;
    color:#fff;
    transition: all 0.5s linear;
}
.nameslideshow:after{
    color:#00fc13;
    animation: changename 7s infinite linear;
    content:'';
}
@key frames changename{
    0%{ content:"potrait"}
    25%{content:"landscape"}
    50%{content:"editorial"}
    75%{content:"event"}
    100%{content:"nature"}
}
    

    
   
    



    
    


    







